@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CSS/dashboard.css" rel="stylesheet" />
<div class="se-pre-con"></div>
<div class="rds-container" id="mainContainer" style="display:none; ">
    <table id="containerTable">
        <tr>
            @Html.Partial("PartDeploymentAdmin")

            @Html.Partial("PartTenantAdmin")
        </tr>
    </table>
</div>